@import url(./reset.css);


:root {
    --primary-black: #000;
    --primary-orange: #FF8A56;
    --primary-grey: #666;
    --primary-white: #FFF;
    --primary-piink: #FF5E69;
    --primary-purple: #B16CEA;
    --primary-blue: #3C46FF;
    --primary-gold: #FFA84B;
    --primary-color: #FFFFFF4D;
}







@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* 
* {
    outline: solid 1px red;
} */

/* NAVBAR SECTION */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 42px;
}

.fa-bars {
    display: none;
}

.nav-links a {
    padding: 20px;
    color: var(--primary-black);
}


@media(max-width:1150px) {

    .header {
       padding-right: 22px;
       padding-left: 22px;
    }

    header > nav {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 22px;
    }
}


/* INTRODUCTION SECTION */


.introduction {
    display: flex;
    padding-left: 112.5px;
    padding-right: 112.5px;
    flex-wrap: wrap;
}

.intro-left-side {
    display: flex;
    flex-direction: column;
    padding-top: 117px;
    flex-basis: 50%;
}

.intro-left-side > h1 {
    font-size: 72px;
    font-weight: 700;
    min-width: 620px;
    padding-bottom: 34px;
    letter-spacing: 1px;
}

.intro-left-side span {
    color: var(--primary-orange);
}

.intro-left-side > p {
    color: var(--primary-grey);
    font-size: 22px;


}

.bookacall {
    padding-top: 38px;
}

.bookacall button {
    width: 151px;
    height: 58px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    letter-spacing: 0.5px;
}

.bookacall a {
    color: var(--primary-black);
    padding-left: 40px;
}
.intro-right-side {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-top: 70px;
}

@media(max-width:1365px) and (min-width:769px) {
    .introduction {
        padding-left: 0;
        padding-right: 0;
    }

    .intro-left-side {
        flex-basis: 100%;
        align-items: center;
    }

    .intro-right-side {
        justify-content: center;
    }
} 


@media(max-width:768px) {
    .introduction {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }

    .intro-left-side {
       text-align: center;
       align-items: center;
       /* min-width: 500px; */
    }
    
    .intro-left-side > h1 {
        min-width: 500px;
    }

    .intro-right-side {
        justify-content: center;
    }

    body {
        overflow-x: hidden;
    }

}



/* TRUSTED-BY SECTION */


.trusted-by-section > h2 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.trusted-by-companies {
    display: flex;
    justify-content: space-evenly;
    padding-top: 45px;
}


.trusted-by-company:nth-child(n):hover {
    transform: scale(1.3);
    transition: 1s cubic-bezier(.05,.7,.9,.42);
}



@media(max-width:769px) and (min-width:576px) {
    .trusted-by-company:nth-child(even) {
        display: none;
    }
}

@media(max-width:575px) {
    .trusted-by-company:not(:nth-child(even)) {
        display: none;
    }
}


/* SERVICES SECTION  */

.services-section > h2 ,
.services-section > h6 {
    text-align: center;
}

.services-section > h2 {
    color: var(--primary-piink);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding-top: 156px;
    letter-spacing: 4px;
}

.services-section > h6 {
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
}

.services {
    display: flex;
    justify-content: space-evenly;
    padding-top: 115px;
    /* padding-left: 171px;
    padding-right: 171px; */
    flex-wrap: wrap;
}

.service {
    padding: 10px;
}

.service h2 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 36px;
    min-width: 285px;
}

.service p {
    font-size: 16px;
    color: var(--primary-grey);
    padding-top: 25px;
    line-height: 28px;
}

.service ul {
    list-style-type: square;
    font-weight: 700;
    line-height: 28px;
    list-style-position: inside;
    padding: 0;
}



/* PROJECTS SECTION */

.projects-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 112px;
    padding-top: 167px;
    padding-left: 113px;
    flex-wrap: wrap;
}

.projects-head-right button {
    width: 201px;
    height: 58px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    font-weight: 400px;
    letter-spacing: 0.2px;
    font-size: 18px;
  
}


.projects-head-left  > h2 {
    font-size: 22px;
    color: var(--primary-purple);
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;
}

.projects-head-left > p {
    font-size: 54px;
    font-weight: 700;
}


.projects-cards {
    display: flex;
    padding-top: 70px;
    padding-left: 113px;
    /* flex-wrap: wrap; */
}

.card {
    padding-right: 24px;
    /* background-color: red; */

}

.square {
    width: 100%;
    background-color: var(--primary-white);
}

.card h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--primary-blue);
    padding-top: 33px;
    padding-bottom: 17px;
}

.card h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 19px;
}

.card h6 {
    padding-bottom: 35px;
}


.card h2,h3,h6 {
    padding-left: 32px;
}

.arrow-button {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 26px;
    padding-right: 50px;

}

.arrow-button button {
    width: 54px;
    height: 54px;
    background-color: var(--primary-white);

}



@media(max-width:1365px) and (min-width:1191px) {
    .projects-cards {
        padding-left: 0;
        justify-content: center;
        text-align: center;
        
    }

    .card:nth-child(3) {
        display: none;
    }

}


@media(max-width:1191px) and (min-width:769px) {
    .card:not(:nth-child(3)) {
        display: none;
    }
    .projects-cards {
        padding-left: 0;
        justify-content: center;
        text-align: center;
    }
}

@media(max-width:768px) {

    .card:not(:nth-child(3)) {
        display: none;
    }


    .projects-head {
        /* padding-left: 0; */
        text-align: center;
        justify-content: center;
    }

    .projects-cards {
        padding-left: 0;
        text-align: center;
        justify-content:center;
    }
}



/* BLOGS   ( Z-INDEX) */

/* .blogs {
    background-color: var(--primary-black);
    position: relative;
    bottom: 238px;
    height: 700px;
    z-index: -1;
}

.projects-cards {
    /* background-color: red; */

    


.blogs-section {
    background-color: var(--primary-black);
    position: relative;
    bottom: 238px;
    width: 100%;
    height: 1637px;
    z-index: -1;
    flex-wrap: wrap;
}

.blogs-section {
    display: flex;
    justify-content: space-around;
    padding-left: 113px;
    padding-right: 113px;
}


.blogs-title > h2 {
    color: var(--primary-gold);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 276px;
    letter-spacing: 2px;
}

.blogs-title > h3 {
    font-size: 54px;
    font-weight: 700;
    color: var(--primary-white);
    padding-top: 20px;
    padding-left: 0;
}

.blogs-title h6 {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-white);
    padding-left: 0;
    padding-top: 32px;
}



.blogs-title img {
    padding-left: 5px;
}

.blogs  {
    padding-top: 270px;
    padding-right: 100px;
}

.blog img {
    padding-left: 5px;

}

.blog  h2 {
    color: var(--primary-grey);
    font-size: 15px;
    font-weight: 700;
    padding-top: 61px;
}

.blog span {
    color: var(--primary-white);
}

.blog h3 {
    color: var(--primary-white);
    padding-left: 0;
    font-size: 28px;
    padding-top: 28px;
    line-height: 36px;
    font-weight: 700;
}


.blog  h6 {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-white);
    padding-left: 0;
    padding-top: 39px;
    padding-bottom: 36px;
    

}

.rectangle {
    height: 1px;
    width: 692px;
    background-color: var(--primary-grey);
}



/* responsivity for blog section */


@media(max-width:1350px) and (min-width:1135px) {
    .blogs-section {
        padding-left: 0;
    }
}

@media(max-width:1134px) and (min-width:769px) {

    .blogs-title {
        text-align: center;
        padding-right: 100px;

    }

    .blogs {
        padding-top: 0;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}


@media (max-width:768px) {
    .blogs-section {
        text-align: center;
    }

    .blogs-title {
        padding-right: 150px;
    }

    .blogs {
        padding-top: 0;
        padding-left: 300px;
        justify-content: center;
    }

    .blog {
        padding-left: 0;
        max-width: 300px;
        align-items: center;
    }

    .blogs-section {
        height: 1890px;
    }

}


/* PRODUCT DESIGNER SECTION */


.product-head {
    display: flex;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 112px;
    flex-wrap: wrap;
}


.product-head-left > h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--primary-piink);
    padding-bottom: 22px;
}

.product-head-left > h3 {
    font-size: 54px;
    font-weight: 700;
    padding-left: 0;
}

.product-head-right > p {
    font-size: 22px;
    font-weight: 400;
    color: var(--primary-grey);
    line-height: 40px;
}

.product-photos {
    display: flex;
    padding-top: 140px;
    padding-left: 70px;
    padding-right: 50px;
    flex-wrap: wrap;
}

.product-right-side {
    display: flex;
    flex-direction: column;
}

.product-left-side img {
    padding-right: 16px;
}

.product-right-side img {
    padding-bottom: 16px;
}


/* RESPONSIVITY for PRODUCT DESIGNER SECTION */

@media(max-width:1350px) and (min-width:1191px) {

    .product-photos {
        /* padding-left: 40px; */
        padding: 0;
        /* margin: 0; */
        justify-content: center;
        
        
    }

    .product-right-side {
        flex-direction: row;
        padding-left: 0;
        padding-right: 50px;
    }

}

@media(max-width:1190px) and (min-width:1019px) {
    .product-head {
        text-align: center;
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
    }
    .product-head-right {
      padding-right: 0;
    }
    
    .product-right-side {
        flex-direction: row;
    }
}

@media(max-width:1018px) and (min-width:769px) {
    
    
    .product-head {
        justify-content: center;
        text-align: center;
    }

    .product-left-side {
        flex-basis: 60%;
        justify-content: center;
    }

    .product-photos {
        justify-content: center;
        padding-left: 0;
    }


}

@media(max-width:768px) {
    .product-head {
        padding: 0;
        text-align: center;
        justify-content: center;
    }
}




/* MY IDEA :d */

.projects-cards {
    overflow-x: auto;
}

body {
    overflow-x: hidden;
}
